/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para el título dentro del encabezado */
header h1 {
    margin: 0;
}

/* Estilo para el botón */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para las etiquetas y entradas de texto */
label, input {
    display: block;
    margin: 10px 0;
}

/* Estilo para los párrafos */
p {
    margin: 10px 0;
}

/* Estilo para los elementos con IDs */
#prom, #pulsasiones {
    font-weight: bold;
    color: #007bff;
}
