/* Estilo para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para el encabezado */
header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
}

/* Estilo para el título dentro del encabezado */
header h1 {
    font-size: 28px;
}

/* Estilo para el botón "Generar" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para el select */
select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo para los párrafos */
p {
    margin: 10px 0;
    font-size: 18px;
}

/* Estilo para los elementos con IDs */
#aprobados, #reprobados, #proma, #promr, #promg {
    font-weight: bold;
    color: #4caf50;
}
