body {
    font-family: "Helvetica", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074c2;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin: 5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0074c2;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #005393;
}
