body {
    font-family: Arial, sans-serif;
    background-color: #3498db;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.5s;
    width: 500px;
}

.seccion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    grid-auto-rows: minmax(100px,auto);
    margin: 0px 30px;
}

h1 {
    font-size: 36px;
    color: #333;
    transition: color 0.5s;
}

h2 {
    font-size: 24px;
    color: #3498db;
    transition: color 0.5s;
}

h3 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    transition: color 0.5s;
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 15px;
    display: block;
    margin: 10px 0;
    transition: color 0.3s;
}

a:hover {
    color: #e74c3c;
}

#e1{
    grid-column: 1;
    grid-row: 1;
}

#e2{
    grid-column: 2;
    grid-row: 1;
}

#e3{
    grid-column: 1 / 3;
    grid-row: 2;
}